<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="ca.zgrs.clipper" android:versionCode="1" android:versionName="1.1" android:enabled="true">

  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <activity android:name=".Main" android:launchMode="singleInstance">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
   	<service android:name=".ClipboardService"
		     android:exported="true"
			 android:enabled="true">
	</service>
	<receiver android:name=".ClipperReceiver" 
		     android:exported="true"
			 android:enabled="true">
		<intent-filter>
			<data android:scheme="clipper" />
		</intent-filter>
		<intent-filter>
			<action android:name="clipper.get" />
			<action android:name="clipper.set" />
			<action android:name="get" />
			<action android:name="set" />
		</intent-filter>
	</receiver>
	
  </application>

</manifest>

